.meme {
    position: relative;
}

.memeimage {
    max-width: 100%;
    width: 700px;
    height: 600px;
    border: 3px solid #434242;
    border-radius: 10px;
    display: block;
    margin: auto;
    transition: transform 0.2s ease;
  }

.memeimage:hover {
    transform: scale(1.1);
}

.memetexttop {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
    top: 0;
}

.memetextbottom {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
    bottom: 0;
}

.meme_container{
    width: fit-content;
    padding: 5%;
    background-color:#1c1c1c;
    border-radius: 20px;
    display: block;
}
